<% provide(:title, "Home") %>
<body id="home_only">
  <div class="center">
    <h1>Manage Kasi Kari</h1>
    <% if logged_in? %>
      <h2></h2>
      <%= link_to "アイテムを登録する", new_item_path, class: "btn btn-lg btn-primary" %>
    <% else %>
      <h2>
        物の貸し借りをより良い体験に
      </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</body>
