<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Manage Kasi Kari</h1>

  <h2>
    友人間での物の貸し借りより良い体験に
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
