<% provide(:title, "Home") %>
<body id="home_only">
  <div class="center">
    <h1>Manage Kasi Kari</h1>

    <h2>
      友人間での物の貸し借りより良い体験に
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</body>
