  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#kasis">貸し借り申請</a></li>
    <li><a data-toggle="tab" href="#karis">友達申請</a></li>
  </ul>

  <div class="tab-content">
    <div id="kasis" class="tab-pane fade in active">
    </div>
    <div id="karis" class="tab-pane fade">
    </div>
  </div>
