<% @new_kasikaris.each do |kasikari| %>
  <% from_user = kasikari.from_user %>
  <% to_user = kasikari.to_user %>
  <% item = kasikari.item %>

  <li>
    <%= to_user.name %>さん が <%= item.name %> を借りたいと言っています
  </li>
<% end %>
