<% if current_user? @user %>
  <%= link_to "アイテムを登録する", new_item_path, class: "btn btn-lg btn-primary register-button" %>

  <% if controller.controller_name === "notifications" %>
    <button type="button" id="subscribe_button" class="btn btn-primary register-button" disabled="disabled">プッシュ通知は使えません</button>
    <button type="button" id="notify_button" class="btn btn-primary register-button">ガッティさんの顔を見る</button>
  <% end %>

<% end %>
