<div class="register-buttons">
  <% if current_user? @user %>
    <%= link_to new_item_path do %>
      <button type="button" class="btn btn-lg btn-primary register-button"><i class="fa fa-plus-circle" aria-hidden="true"></i> アイテムを登録する</button>
    <% end %>

    <%= link_to new_kasikari_path do %>
      <button type="button" class="btn btn-lg btn-primary register-button"><i class="fa fa-plus-circle" aria-hidden="true"></i> 貸し借りを登録する</button>
    <% end %>

    <%= link_to search_user_path do %>
      <button type="button" class="btn btn-lg btn-primary register-button"><i class="fa fa-plus-circle" aria-hidden="true"></i> 友達を探す</button>
    <% end %>

    <% if controller.controller_name === "notifications" %>
      <!-- <button type="button" id="subscribe_button" class="btn btn-primary register-button" disabled="disabled">プッシュ通知は使えません</button> -->
      <div class="toggle">
        <button type="button" id="notify_button" class="btn btn-primary register-button"><img src="/images/hero-logo/tuti-w-logo.png" width="40" height="40"></button>
        <h1>プッシュ通知の配信設定</h1>
           <form action="">
             <input class='tgl tgl-light' id='subscribe_button' type='checkbox'>
             <label class='tgl-btn' for='subscribe_button'></label>
           </form>
      </div>
    <% end %>
  <% end %>

</div>
