<div class="register-buttons">
  <% if current_user? @user %>
    <%= link_to new_item_path do %>
      <button type="button" class="btn btn-lg btn-primary register-button"><i class="fa fa-plus-circle" aria-hidden="true"></i> アイテムを登録する</button>
    <% end %>

    <%= link_to new_kasikari_path do %>
      <button type="button" class="btn btn-lg btn-primary register-button"><i class="fa fa-plus-circle" aria-hidden="true"></i> 貸し借りを登録する</button>
    <% end %>

    <% if controller.controller_name === "notifications" %>
      <!-- <button type="button" id="subscribe_button" class="btn btn-primary register-button" disabled="disabled">プッシュ通知は使えません</button> -->
      <button type="button" id="notify_button" class="btn btn-primary register-button"><img src="/images/hero-logo/tuti-w-logo.png" width="40" height="40"></button>
    <% end %>
    <fieldset>
      <h1>プッシュ通知</h1>
      <div class="switch-toggle well">
        <input id="week" name="view" type="radio" checked>
        <label for="week" onclick="">ON</label>

        <input id="month" name="view" type="radio">
        <label for="month" onclick="">OFF</label>

        <a class="btn btn-primary"></a>
      </div>
    </fieldset>
  <% end %>
</div>
