<% provide(:title, "#{@user.name}のアイテム一覧") %>

<div class="container">
  <div class="row">
    <div class="set_position">
      <section class="side-content user-box">
        <%= render 'user_box' %>
      </section>
      <section class="main-content items_list panel panel-default">
        <div class="panel-heading">アイテム</div>

        <div class="panel-body">
          <ul class="user_items">
            <% @items.each do |item| %>
              <div class="items_list_person">
                <li>
                  <%= link_to item.name, item ,class: "items_name" %>
                  <%= thumbnail_for item, size: 150 %>
                  <br>
                  <% if current_user?(@user) %>
                    <% if item.available %>
                      <div class="btn-sm btn-sm-b">貸出可</div>
                    <% else %>
                      <div class="btn-sm btn-sm-r">貸出中</div>
                    <% end %>
                  <% else %>
                    <%= link_to "借りたい", new_kari_path(item), class: "btn btn-lg btn-primary" %>
                  <% end %>
                </li>
              </div>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>
