<% provide(:title, "Friends") %>

<div class="container">
  <div class="row">
    <div class="set_position">
      <section class="side-content user-box">
        <%= render 'user_box' %>
      </section>

      <section class="main-content friends_list panel panel-default">
        <div class="panel-heading">フレンド</div>
        <div class="panel-body">
          <% if @users.any? %>
            <ul class="users_follow">
              <% @users.each do |user| %>
                <%= render 'friend_user', user: user %>
              <% end %>
            </ul>
          <% end %>
        </div>
      </section>
    </div>
  </div>
</div>
