<% @user ||= current_user %>
<div class="stats">
  <a href="<%= friends_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.friends.count %>
    </strong>
    友達
  </a>
  <a href="<%= items_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.items.count %>
    </strong>
    アイテム
  </a>
</div>
