<% @user ||= current_user %>
<div class="stats">
  <a href="<%= friends_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.friends.count %>
    </strong>
    フレンド  <i class="fa fa-users" aria-hidden="true"></i>
  </a>
  <a href="<%= items_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.items.count %>
    </strong>
    アイテム <i class="fa fa-briefcase" aria-hidden="true"></i>
  </a>
</div>
