@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');//web-font
@import "font-awesome";

html{
  overflow: auto;

}

body{
  background-color:#F5F8FA;
  overflow: hidden;
  position: relative;
  min-width: 1000px;
}

img{
    border-radius: 10px;
}

/* Bootstrapスタイル 変更点 */
.navbar-inverse {
  background-color: #34b490;
  border-color: #228E70;

  .dropdown{
    a{
      padding: 8px 15px 4px;
    }
    .dropdown-function{
      padding: 15px;
    }
    img{
      width: 35px;
      height: 35px;
      border-radius: 50px;
      border: 2px solid #FFFFFF;
    }
  }
}

.navbar-inverse .navbar-nav{
  li{
    a{
      color: #000000;
      &:hover {
        color: #FFFFFF;
        text-decoration: none;
      }
    }
    .notification{
      font-size: 16px;
    }
  }
}

.btn-primary{
  background-color: #34b490;
  border-color: #228E70;
  // border-radius: 20px;
  // font-family: "Rounded Mplus 1c";
  &:hover,&:focus {
    background-color: #228E70;
    border-color: #34b490;
  }
}

.btn-permit{
  background-color: #4169E1;
  border-color: #0000CD;
  color: #FFFFFF;
  // border-radius: 20px;
  // font-family: "Rounded Mplus 1c";
  &:hover,&:focus {
    background-color: #1E90FF;
    border-color: #3333DD;
    color: #FFFFFF;
  }
}

.btn-reject{
  background-color: #DC143C;
  border-color: #8B0000;
  color: #FFFFFF;
  // border-radius: 20px;
  // font-family: "Rounded Mplus 1c";
  &:hover,&:focus {
    background-color: #FF0000;
    border-color: #DD3333;
    color: #FFFFFF;
  }
}




/* homeのみの変更点  ヒーロー*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#hero1{
  background-image: url("/images/back_home.jpg"); //画像はpublic/imagesの中に
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  background-color:#464646;
  margin: 0 -500%; /* 上下の margin は元の値に合わせて適宜変更 */
  padding: 0 500%; /* 上下の margin は元の値に合わせて適宜変更 */

}

#hero_use{
  background-color: #FFFFFF;
}

.hero, .content{
  text-align:center;
  position:relative;
}

.inner_1{
  min-height:700px;
  position: relative;
}
.inner_2{
  min-height:300px;
  position: relative;
}
.inner_3{
  min-height:1000px;
  position: relative;
  margin: 3% 3%;
  // margin: 0 auto;
  h4{
    font-size: 40px;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  h3{
    font-size: 30px;
    color:#555;
  }
  .hero_use{
    display: block;
    margin: 0 auto;

  }
  .hero_page{
    width: 800;
    p{
      text-align: center;
      color:#777;
    }
    img{
      border: 2px #F5F8FA solid;
    }
    .hero_border{
      margin: 5% 20%;
      border-bottom: 1px solid #999999;
    }
  }
}

.inner_4{
  min-height:600px;
  position: relative;
  margin: 3% 20%;
  padding: 2%;
  background-color: #FFFFFF;
}

.inner_5{
  min-height:400px;
  position: relative;
  p{
    color: #DDD;
  }
  h5{
    font-size: 40px;
  }
}

.inner_6{
  min-height:600px;
  position: relative;
}


/* mixins, variables, etc. */
//
$gray-medium-light: #eaeaea;
//
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
 body {
   font-family: 'Josefin Sans', sans-serif;
 }


//
section {
  overflow: auto;
}
//
textarea {
  resize: vertical;
}
//
.center{
  position: absolute;
  top: 50%;
  left: 50%;
}

.about{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  .hero_img{
    margin: 30px 0px;
    width: 25%;
    color:#34B490;
    h6{
      font-size: 2em;
      color:#34B490;
    }
  }
}

.center_home {
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   -webkit-transform: translate(-50%, -50%); /* Safari用 */
   transform: translate(-50%, -50%);
   text-align: center;


  h1 {
    margin-bottom: 10px;
    color: #FFFFFF;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 0.1px;
  }
}

/* typography */
h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  // text-align: center;
  color: #FFFFFF;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 0.1px;
}
//
h2 {
  // font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: center;
  // font-weight: normal;
  color: white;
}
//
h3 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;

  color: #000000;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 0.1px;
}

h4 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #000000;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 0.1px;

}

h5 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  color: #000000;
}

h6{
  font-size: 1.4em;
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 3px;
  margin-top: 0px;
  color: #000000;
}

h7{
  font-size: 12px;
}
//
// p {
//   font-size: 1.1em;
//   // line-height: 1.7em;
// }
//
//
// /* header */
//
.navbar-brand{
  background: url("/images/KK-logo.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 250px;
}

.dropdown-menu{
  li{
    a:focus,a:hover {
      background-color: #000000;
    }
  }
}

/* footer */

footer {
  // bottom: 0;
  width: 100%;
  height: 100px;
  margin-top: 45px;
  padding: 5px 5px 0px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  text-align: center;

  a {
    color: $gray;
    &:hover {
      color: #FFFFFF;
    }
  }
  small {
    float: left;
    text-align: left;
    padding-top: 15px;

  }

  .navbar-brand {
    background: url("/images/Gutty-logo.png") no-repeat left center;
    background-size: contain;
    height: 50px;
    width: 100px;
    padding-top: 0px;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  // float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  margin-top: 0;
  display: flex;
  a {
    flex: 1;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    text-align: center;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
    text-align: center;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
