@import "custom";
/* kasikaris index */
// li{background:url(画像);}
.kasikaris {
  margin: 0;

  li {
    width: 100%;
    list-style-type: none;


    div {
      display: inline-block;
      width: calc(90% / 3);
      text-align: center;
      margin: 10px 0px;
    }
  }
}

.kasikari_to_user,.kasikari_from_user{
  a{
    img{
      border-radius: 50px;
    }
  }
}

.time_show{
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  .notification_time {
    color: #8899a6;
    font-size: 12px;
  }
}

.kasikari_with_item {
  .panel-body {
    padding-left: 40px;
  }
}
