@import "custom";

$rent_color: #337ab7;
$return_color: #d9534f;

.kasikaris {
  margin: 0;

  li {
    width: 100%;
    list-style-type: none;

    div {
      display: inline-block;
      width: calc(90% / 3);
      text-align: center;
      margin: 10px 0px;
    }
  }
}

.kasikari_to_user, .kasikari_from_user{
  a{
    img{
      border-radius: 50px;
    }
  }
}

.time_show{
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  .notification_time {
    color: #8899a6;
    font-size: 12px;
  }
}

.create_kasikari, .edit_kasikari {
  .panel_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;

    .panel {
      min-width: 150px;
      margin: 0;

      .panel-body {
        padding: 10px;
        text-align: center;
        margin-bottom: 0;
        min-height: 100px;

        .not_selected {
          margin-top: 37px;
          text-align: center;
        }

        li {
          list-style-type: none;
        }

        .thumbnail_user, .thumbnail_item {
          display: block;
          margin: 0 auto 10px;
        }
      }

      .panel-footer{
        width: 100%;
        height: 50px;
        background: white;
        padding-top: 7px;
        border-top: 1px solid #eeeeee;
        text-align: center;

        button {
          display: inline-block;
        }
      }
    }
  }

  .date_form_container {
    display: flex;
    margin-bottom: 70px;

    .date_form {
      flex: 3;
      text-align: center;

      input {
        text-align: center;
        margin: 0;
      }
    }

    .fa {
      flex: 1;
      padding-top: 18px;
      text-align: center;
      font-size: 32px;
    }

    input[type="submit"] {
      display: block;
    }
  }
}

.modal_content{
  display: none;
  width: 80%;
  height: 80%;
  margin: 1.5em auto 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 5;
  position: fixed;
  overflow-x: visible;
  overflow-y: scroll;

  .title {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ddd;
    font-size: 28px;
    color: #66757f;
  }
  .contents {
    padding: 0 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
      display: block;
      flex-basis: 24%;
      margin: 7px 2px;
      border-radius: 5px;
      height: 80px;
      padding: 15px;
      list-style-type: none;
      background: #f5f5f5;
      cursor: pointer;
    }
  }
}

.button_link{
  color: #00f;
  text-decoration: underline;
}

#modal_overlay{
  z-index: 2;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0,0,0,0.75);
}

#modal_close {
  display: block;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  z-index: 10;

  .fa {
    font-size: 28px;
    color: white;
    text-decoration: none;
  }
}

/*kasikari_showページ*/
.back_kasikari{
  height: 100px;
  padding-top: 50px;
}
.kasikari_row{
  margin: 0 auto;
  width: 600px;
  border-radius: 5px;
  background-color:#F5F8FA;
}

.kasikari-rent, .kasikari-return{
  background-color: #FFF;
  margin-top: 5px;
  list-style: none;
  display: flex;
  text-align: center;
  border-radius: 3px;
  .arrow{
    padding: 30px 0px;
    text-align: center;
    font-size: 42px;
  }
  .rent{
    color: $rent_color;
  }
  .return{
    color: $return_color;
  }

  li {
    margin-top: 25px;
    a {
      font-size: 16px;
    }
  }
  
  .from_user_info,.item,.to_user_info{
    flex:1;
    padding-left: 40px;
    width: 32%;
    img{
      display: block;
      margin: 0 auto;
    }
  }
}

.kasikari-rent{
  border: 1px solid $rent_color;
}

.kasikari-return{
  border: 1px solid $return_color;
}

#rentday{
  background-color: $rent_color;
  color: #FFFFFF;
  padding-top: 40px;
}
#returnday{
  background-color: $return_color;
  color: #FFFFFF;
  padding-top: 40px;
}


#kasi_state{
  color: #FFFFFF;
  margin-top: 30px;
  text-align: center;
  #applying,#ongoing,#denied,#done{
    font-size: 24px;
    padding-top: 10px;
    height: 50px;
    border-radius: 150px;
  }
  #applying{
    background-color: #CC6600;
  }
  #ongoing{
    background-color: #009933;
  }
  #denied{
    background-color: #990000;
  }
  #done{
    background-color: #333333;
  }

  .info{
    text-align: center;
    .defaultlist
    .defaultlist li{
      padding:0px;
      margin-left:25%;
      width: 70%;
    }

    .defaultlist li{
      list-style-type:none !important;
      list-style-image:none !important;
      margin: 5px 0px 5px 0px !important;
    }
    .list11 li{
      position:relative;
      display: block;
      padding: 5px 0px 5px 30px;
      background: #95dbd0;
      color: #444;
      border-radius:15px 0px 0px 15px;
    }

    .list11 li:after{
      content:'';
      display:block;
      position:absolute;
      width:14px;
      height: 14px;
      top:7px;
      left:5px;
      background: #95dbd0;
      border-radius: 10px;
    }
  }
}
.back_to_kasikaris {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  text-align: left;
  margin-top: 20px;
  padding-left: 30px;
  font-size: 16px;
}
.kasikari_buttons {
  form, .btn {
    display: inline-block;
  }
  .btn + .btn {
    margin-left: 10px;
  }
}
