@import "custom";
/* kasikaris index */
// li{background:url(画像);}
.kasikaris {
  margin: 0;

  li {
    width: 100%;
    list-style-type: none;


    div {
      display: inline-block;
      width: calc(90% / 3);
      text-align: center;
      margin: 10px 0px;
    }
  }
}

.kasikari_to_user,.kasikari_from_user{
  a{
    img{
      border-radius: 50px;
    }
  }
}

.time_show{
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 5px;
  .notification_time {
    color: #8899a6;
    font-size: 12px;
  }
}

.kasikari_with_item, .new_kasikari {
  .panel_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;

    .panel {
      min-width: 150px;
      margin: 0;

      .panel-body {
        padding: 10px;
        text-align: center;
        margin-bottom: 0;

        .thumbnail_user, .thumbnail_item {
          display: block;
          margin: 0 auto 10px;
        }
      }
    }
  }

  .date_form_container {
    display: flex;
    margin-bottom: 70px;

    .date_form {
      flex: 3;
      text-align: center;

      input {
        text-align: center;
        margin: 0;
      }
    }

    .fa {
      flex: 1;
      padding-top: 18px;
      text-align: center;
      font-size: 32px;
    }

    input[type="submit"] {
      display: block;
    }
  }
}
