// Place all the styles related to the Notification controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "custom";
@import "kasikaris";
@import "users";

/* user/notificationページ */
#notificaion-list ul:after{
  display: block;
}

#notification-list ul li{
  list-style-type: none;
  display: flex;
  padding: 25px 20px 20px;
  border-bottom: 4px solid #F5F8FA;
  background-color:#FFFFFF;

  div {
    display: inline-block;
  }
  .notification_text{
    flex: 4;
  }
  .notification_time {
    flex: 1;
    padding-top: 10px;
    text-align: center;
    color: #8899a6;
    font-size: 12px;
  }
  .notification_btn{
    flex: 1;
  }
}
