// Place all the styles related to the Notification controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "custom";
@import "kasikaris";
@import "users";

/* user/notificationページ */
.notifications {
  border: none;
  background-color: #F5F8FA;
  overflow: visible;

  .nav {
    li {
      z-index: 2;
      width: 50%;
      text-align: center;
      cursor: pointer;
      a {
        border: 1px solid #ddd;
        line-height: 20px;
      }
      &.active a {
        border-bottom: 2px solid white;
        background-color: white;
      }

      &:not(.active) a{
        background-color: #e1e8ed;
        &:hover{
          background-color: #E5E8EA;
        }
      }
    }
  }
  .tab-content {
    height: 100%;
    background: white;
    border-radius: 0px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    #kasikaris, #followers {
      background-color: white;
      li {
        list-style-type: none;
        display: flex;
        padding: 25px 20px 20px;
        border-bottom: 1px solid #ddd;
        margin: 0 10px;
        background-color:#FFFFFF;

        &:last-child {
          border-bottom: none;
        }

        .text{
          flex: 4;
        }
        .updated_time {
          flex: 1;
          padding-top: 10px;
          text-align: center;
          color: #8899a6;
          font-size: 14px;
        }
      }
    }
  }
}
