@import "custom";
@import "kasikaris";

.user-box {
  .register-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    button {
      width: auto;
      margin: 10px 0;
    }
    .register-button {
      font-size: 14px;
    }
    .follow-button {
      margin: 20px auto;
    }
  }
  #notify_button{
    width:66px;
    margin: 0 auto;
    margin-top: 30px;
    img{
      margin-right: 10px;
    }
    border-radius: 50px;
  }

  .stats {
    padding: 20px 10px;
  }
}

/* index */
#timeline ul{
  padding-left: 10px;

  &:after{
    display: block;
  }
}

#timeline ul li{
  list-style-type: none;
  padding: 3%;
  border-bottom: 4px solid #F5F8FA;
  background:url(/images/arrow_demo.png);
  background-position:center center;
  background-repeat: no-repeat;
  div{
    display: inline-block;
    height: 100px;
    text-align: center;
    width: 32%;
    img{
      display: block;
      margin: 0 auto;
    }
  }
  .kasikari_item{
    padding-left: 5%;
  }
}

/* users/:id/friends */
section.user_me_friends{
  margin: 10px;
  padding-top: 30px;
  background: #FFFFFF;
  text-align: center;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  .stats{
    padding: 20px 10px;
  }
}
.user_me_friends{
  flex:1;
}

.friends_list{
  flex:3;
}

.users_follow{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  li{
    list-style-type: none;
    div{
      // display: inline-block;
    }
    img{
      display: block;
      margin: 0 auto;
    }
    .users_name{
      font-size: 20px;
    }
  }
  .friends_list_person{
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color:#f5f5f5;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    .stats{
      padding-top: 0px 30px;
      width: auto;
      margin: 0 auto;
    }
  }
}


/* user/:id/items */
section.user_me_items{
  margin: 10px;
  padding-top: 30px;
  background: #FFFFFF;
  text-align: center;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  .stats{
    padding: 20px 10px;
  }
}
.user_me_items{
  flex:1;
}

.items_list{
  flex:3;
}


.user_items{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  li{
    list-style-type: none;
    div{
      // display: inline-block;
    }
    img{
      display: block;
      margin: 0 auto;
    }
    .items_name{
      font-size: 20px;
    }
    .btn-primary{
      width:100%;
      padding: 5px 16px;
    }
    .btn-sm-b{
      color: #337AB7;
    }
    .btn-sm-r{
      color: #DC143C;
    }
  }
  .items_list_person{
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color:#f5f5f5;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
  }
}


/* user/:id/kasikaris/ページ */
section.kasikaris-list{
  margin: 10px;
  border-radius: 5px;
  // background: #FFFFFF;
  padding: 15px;
  display: flex;
  section.stats{
    padding-top: 0px;
  }
}
section.user_me{
  flex: 1;
  margin: 10px;
  padding-top: 30px;
  background: #FFFFFF;
  text-align: center;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  margin-top: 40px;
  .stats{
    padding: 20px 10px;
  }
}
.kasikari-list{
  border: none;
  background-color: #F5F8FA;
  .nav {
    li {
      width: 50%;
      text-align: center;

      &.active a {
        background-color: #f0f0f0;
      }

      &:not(.active) a:hover{
        background-color: #E5E8EA;
      }
    }
  }

  .tab-content {
    list-style-type: none;
    background: white;
    border-radius: 0px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

    #kasis, #karis {
      li{
        list-style-type: none;
        display: flex;
        padding: 25px 20px 20px;
        border-bottom: 1px solid #8899a6;
        margin: 0 10px;
        background-color:#FFFFFF;

        &:last-child {
          border-bottom: none;
        }

        div{
          display: inline-block;
        }
        .text{
          flex: 4;
        }
        .updated_time {
          flex: 1;
          padding-top: 10px;
          text-align: center;
          color: #8899a6;
          font-size: 14px;
        }
      }
    }
  }
}


#img_label {
  font-weight: normal;
}
.submit {
  margin-top: 30px;
}

.toggle{
  color: #FFFFFF;
  margin:50px 10px;
  // background-color: #F5F8FA;
  width: 90%;
  height:200px;
  border-radius: 50px;
  border: 2px solid #e1e8ed;
  h1{
      margin-top: 30px;
      text-align: center;
      font-size: 15px;
      color: #333333;
      color:black;
      margin-bottom: 0px;
    }
      .tgl {
      display: none;
    }
    .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
      box-sizing: border-box;
    }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
        background: none;
    }
    .tgl + .tgl-btn {
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        margin: 0 auto;
        // position: relative;
        cursor: pointer;
    }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%;
    }
    .tgl + .tgl-btn:after {
        left: 0;
    }
    .tgl + .tgl-btn:before {
        display: none;
    }
    .tgl:checked + .tgl-btn:after {
        left: 50%;
    }

    .tgl-light + .tgl-btn {
        background: #606060;
        border-radius: 2em;
        padding: 2px;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
    }
    .tgl-light + .tgl-btn:after {
        border-radius: 50%;
        background: #fff;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
    }
    .tgl-light:checked + .tgl-btn {
        background: #9FD6AE;
    }
  }
