@import "custom";
@import "kasikaris";
/* Users index */
$gray-medium-light: #eaeaea;

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.user_me{
  margin: 0 auto;
}

.user_items  {
  li {
    list-style-type: none;
    overflow: auto;
    margin: 20px 0;
  }
}

.user_info{
  padding-top: 50px;
}

.set_position{
  display: flex;
  margin: 0 auto;
  section{
    margin: 10px;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 15px;
    section.stats{
      padding-top: 0px;
    }
  }
  h5{
    color: #E6AC27;
    font-size: 1.5rem;
  }
}

.set_position .timeline {
  flex: 3;
}

@media screen and (max-width: 700px) {
  .set_position {
    flex-direction: column;
  }
}

#timeline-list ul:after{
  display: block;
}

#timeline-list ul li{
  list-style-type: none;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  border-bottom: 2px solid #191970;
  background:url(/images/arrow.jpg);
  // background-size:cover;
  background-position:center center;
  // background-color:#464646;
  div{
    display: inline-block;
    height: 100px;
    width: 32%;
    img{
      display: block;
    }
  }
  .kasikari_item{
    padding-left: 5%;
  }
}
