@import "custom";
@import "kasikaris";


main{
  padding-top: 50px;
  padding-left: 1%;
  padding-right: 1%;
}

/* Users index */
/* users/idページ */
.set_position{
  display: flex;
  // margin-top: 20px;
  section.timlime{
    margin: 10px;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 15px;
    section.stats{
      padding-top: 0px;
    }
  }
  section.user_me{
    margin: 10px;
    padding-top: 30px;
    background: #FFFFFF;
    text-align: center;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    .stats{
      padding: 20px 10px;
    }
  }
  .user_me{
    flex:1;
  }

  .timeline{
    flex:3;
    margin: 10px;
    padding:15px;
  }
}



#timeline-list ul:after{
  display: block;
}

#timeline-list ul li{
  list-style-type: none;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 10%;
  border-bottom: 4px solid #F5F8FA;
  background:url(/images/arrow.jpg);
  // background-size:cover;
  background-position:center center;
  // background-color:#464646;
  div{
    display: inline-block;
    height: 100px;
    width: 32%;
    img{
      display: block;
    }
  }
  .kasikari_item{
    padding-left: 5%;
  }
}

/* user/:id/friends/ページ */
.set_position_friends{
  display: flex;
  section.friends_list{
    margin: 10px;
    border-radius: 5px;
    // background: #FFFFFF;
    padding: 15px;
    section.stats{
      padding-top: 0px;
    }
  }
  section.user_me_friends{
    margin: 10px;
    padding-top: 30px;
    background: #FFFFFF;
    text-align: center;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    .stats{
      padding: 20px 10px;
    }
  }
  .user_me_friends{
    flex:1;
  }

  .friends_list{
    flex:3;
  }
}


.users_follow{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  li{
     list-style-type: none;
      div{
        // display: inline-block;
      }
      img{
        display: block;
        margin: 0 auto;
      }
      .users_name{
        font-size: 20px;
      }
  }
  .friends_list_person{
    width: 200px;
    margin: 20px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    .stats{
      padding-top: 0px 30px;
      width: auto;
      margin: 0 auto;
    }
  }
}


/* user/:id/items/ページ */
.set_position_items{
  display: flex;
  section.items_list{
    margin: 10px;
    border-radius: 5px;
    // background: #FFFFFF;
    padding: 15px;
    section.stats{
      padding-top: 0px;
    }
  }
  section.user_me_items{
    margin: 10px;
    padding-top: 30px;
    background: #FFFFFF;
    text-align: center;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    .stats{
      padding: 20px 10px;
    }
  }
  .user_me_items{
    flex:1;
  }

  .items_list{
    flex:3;
  }
}


.user_items{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  li{
     list-style-type: none;
      div{
        // display: inline-block;
      }
      img{
        display: block;
        margin: 0 auto;
      }
      .items_name{
        font-size: 20px;
      }
      .btn-primary{
        width:100%;
        padding: 5px 16px;
      }
      .btn-sm-b{
        color: #337AB7;
      }
      .btn-sm-r{
        color: #DC143C;
      }
  }
  .items_list_person{
    width: 200px;
    margin: 20px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #e1e8ed;
    border-radius: 5px;


  }
}


/* user/:id/kasikaris/ページ */
.set_position_kasikaris{
  display: flex;
  list-style-type: none;
  section.kasikaris-list{
    margin: 10px;
    border-radius: 5px;
    // background: #FFFFFF;
    padding: 15px;
    display: flex;
    section.stats{
      padding-top: 0px;
    }
  }
  section.user_me{
    margin: 10px;
    padding-top: 30px;
    background: #FFFFFF;
    text-align: center;
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    .stats{
      padding: 20px 10px;
    }
  }
  .user_me{
    flex:1;
  }
  .kasikari-list{
    flex:3;
  }
  #tab-content{
    #kasi,#kari{
      position:absolute;
      width: 100%;
      // overflow: scroll;
      img{
          width: 30px;
          height:30px ;
        }
     }
   }
}

#tab-content li{
  list-style-type: none;
  border-bottom: 4px solid #F5F8FA;
  background-size:cover;
  // background-position:center center;
  // background-color:#464646;
  div{
    display: inline-block;
    height: 100px;
    img{
      display: block;
    }
  }
}
