<footer class="footer" id="footer" >
  <small>
    awesome project by
  </small>
  <a class="navbar-brand" href="https://github.com/GATIT"></a>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
